1-я колонка – user_id – идентификатор пользователя. Длина user_id должна равняться 15-ти
символам. Идентификатор состоит из случайной комбинации следующих символов:
"1234567890abcdefghijk". Для каждой строки в DataFrame значение user_id формируются
случайным образом.

In [17]:
import string
import random
import pandas as pd

userId_list = []
for x in range(10000):
    lst = [random.choice(string.ascii_letters + string.digits) for n in range(15)]    
    s = "".join(lst)
    userId_list.append(s)

df = pd.DataFrame(userId_list, columns=['user_id'])

In [16]:
df.head(10)
print(f'\nlen(df): {len(df)}')

len(df): 10000

2-я колонка – order_number – номер заказа. Столбец необходимо заполнить случайными
значениями в диапазоне от 1 до 10.

In [19]:
orderId_list = []
for x in range(10000):
    lst = [random.choice(string.digits) for n in range(20)]    
    s = "".join(lst)
    orderId_list.append(s)

# print(f'orderId_list: {orderId_list}')
df['order_number'] = orderId_list

In [20]:
df.head(10)

           user_id          order_number
0  eOOGRF3bzrr2PIl  19890903628615719034
1  o1aVz18Q1IBvTO8  47025906288401708437
2  2VelzuERvK1ae1p  24467891887580023594
3  6gwuPdsRRN1pPdj  01512540631980760509
4  vpWcTz1VrgqTBBQ  60286866834905638013
5  5i5QUN7MoRjyxrV  33148104373316983630
6  UQLUVOH3Q6ylHXV  12612953649043838985
7  7PqIDKTgBG0Hpwn  07118193617536969946
8  eOsCJoU9aOMmwpU  78821465880208687925
9  ZvVQvtzBy4fWelf  93730820813022490894

3-я колонка – click2delivery – время, прошедшее с момента оформления заказа до вручения
клиенту. Столбец необходимо заполнить случайными значениями из нормального распределения
со средним 1440 и стандартным отклонением 200.

In [44]:
import numpy as np
import time

time_list = []
n = 10000

a=np.random.normal(loc=1440,scale=200,size=n)
# print(f'type(a): {type(a)}')
# print(f'len(a): {len(a)}')
# print(f'a: {a}')

for x in range(len(a)):
    time_to_string = time.strftime('%H:%M:%S', time.gmtime(a[x]))
    # print(f'time_to_string: {time_to_string}')
    time_list.append(time_to_string)

# print(f'\ntype(a): {type(a)}')
# print(f'\ntime_list: {time_list}')
df['click2delivery'] = time_list

In [45]:
df.head(10)

           user_id          order_number click2delivery
0  eOOGRF3bzrr2PIl  19890903628615719034       00:23:41
1  o1aVz18Q1IBvTO8  47025906288401708437       00:21:23
2  2VelzuERvK1ae1p  24467891887580023594       00:22:27
3  6gwuPdsRRN1pPdj  01512540631980760509       00:26:29
4  vpWcTz1VrgqTBBQ  60286866834905638013       00:22:07
5  5i5QUN7MoRjyxrV  33148104373316983630       00:24:59
6  UQLUVOH3Q6ylHXV  12612953649043838985       00:24:30
7  7PqIDKTgBG0Hpwn  07118193617536969946       00:25:12
8  eOsCJoU9aOMmwpU  78821465880208687925       00:20:48
9  ZvVQvtzBy4fWelf  93730820813022490894       00:26:21

4-я колонка – order_items_sum – общая стоимость заказа. Значения для этого столбца
необходимо взять из экспоненциального распределения с параметром λ = 1, смещённого на +1.

In [51]:
exp_list = []

for x in range(len(df)):
    exp_rand_plus_one = random.expovariate(lambd=1) + 1
    # print(f'exp_rand_plus_one: {exp_rand_plus_one}')
    exp_list.append(exp_rand_plus_one)

df['order_items_sum'] = exp_list

In [52]:
df.head(10)

           user_id          order_number click2delivery  order_items_sum
0  eOOGRF3bzrr2PIl  19890903628615719034       00:23:41         1.226772
1  o1aVz18Q1IBvTO8  47025906288401708437       00:21:23         1.061551
2  2VelzuERvK1ae1p  24467891887580023594       00:22:27         3.430458
3  6gwuPdsRRN1pPdj  01512540631980760509       00:26:29         4.759465
4  vpWcTz1VrgqTBBQ  60286866834905638013       00:22:07         2.423574
5  5i5QUN7MoRjyxrV  33148104373316983630       00:24:59         2.806554
6  UQLUVOH3Q6ylHXV  12612953649043838985       00:24:30         1.073969
7  7PqIDKTgBG0Hpwn  07118193617536969946       00:25:12         1.829996
8  eOsCJoU9aOMmwpU  78821465880208687925       00:20:48         1.650423
9  ZvVQvtzBy4fWelf  93730820813022490894       00:26:21         2.183291

5-я колонка – retention – день жизни покупателя, в который он совершил заказ. Необходимо
сгенерировать значения 1, 2, 3, 4, 5 с вероятностями 0.35, 0.25, 0.2, 0.15 и 0.05 соответственно.

In [55]:
retention_list = []

for x in range(10000):
    random_value = random.randint(1, 100) # 1..100
    if   random_value < 36: retention_list.append(1) # 35%
    elif random_value < 61: retention_list.append(2) # 25%
    elif random_value < 81: retention_list.append(3) # 20%
    elif random_value < 96: retention_list.append(4)# 15%
    else: retention_list.append(5) # 5%

# print(f'retention_list: {retention_list}')

df['retention'] = retention_list

In [56]:
df.head(10)

,user_id,order_number,click2delivery,order_items_sum,retention
0,eOOGRF3bzrr2PIl,19890903628615719034,00:23:41,1.226772,2
1,o1aVz18Q1IBvTO8,47025906288401708437,00:21:23,1.061551,3
2,2VelzuERvK1ae1p,24467891887580023594,00:22:27,3.430458,3
3,6gwuPdsRRN1pPdj,01512540631980760509,00:26:29,4.759465,1
4,vpWcTz1VrgqTBBQ,60286866834905638013,00:22:07,2.423574,3
5,5i5QUN7MoRjyxrV,33148104373316983630,00:24:59,2.806554,4
6,UQLUVOH3Q6ylHXV,12612953649043838985,00:24:30,1.073969,3
7,7PqIDKTgBG0Hpwn,07118193617536969946,00:25:12,1.829996,2
8,eOsCJoU9aOMmwpU,78821465880208687925,00:20:48,1.650423,1
9,ZvVQvtzBy4fWelf,93730820813022490894,00:26:21,2.183291,3

В случае, если в колонке user_id встречаются дублирующиеся значения, оставь только первое из
них.

In [ ]:
df = df.drop_duplicates(subset='user_id', keep="first")

Для всех строк исходного датасета, сгруппированных по номеру заказа, посчитать среднее
значение времени доставки по группе. Результат необходимо добавить в новый столбец
датафрейма.